* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  color: white;
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  background: #262121;
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #eba232;
  width: 240px;
}
.list-div {
  display: flex;
}
#first-main {
  background: rgb(26, 24, 24);
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkbox {
  display: none;
  width: 40px;
  height: 40px;
}
.mother-div {
  width: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #eba232;
}
.white-line {
  transition: all ease-in-out 0.5s;
  width: 30px;
  height: 3px;
  background: #eba232;
  position: relative;
}
.white-line::before,
.white-line::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 30px;
  height: 3px;
  background: #eba232;
}
.white-line::before {
  top: -10px;
}
.frontend {
  color: #eba232;
  font-size: 50px;
  margin: 30px 0;
}
.passionate {
  text-transform: capitalize;
  width: 690px;
  line-height: 30px;
}
.my-img {
  width: 200px;
  border-radius: 45%;
  background: #eba232;
  /* height: 300px; */
}
.download-div {
  margin: 40px 0 20px;
}
.first-section {
  background: #eba232;
  padding: 50px 40px;
}
.description {
  color: #000;
  width: 350px;
  line-height: 30px;
  margin: 0 0 40px;
}
.second-section {
  background: #262121;
  padding: 70px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.third-section {
  background: #262121;
  padding: 10px 40px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4em;
}
.front-end-div {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fa-code {
  font-size: 50px;
}
.work-div {
  width: 40%;
  background: rgba(0, 0, 0, 0.3);
  padding: 0px 0px 40px;
  border-radius: 20px;
}
.two-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
}
.fourth-section {
  background: rgba(0, 0, 0, 0.7);
  padding: 50px 40px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  gap: 1em;
}
.fourth-section form {
    width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.fourth-section form input{
    width: 95%;
}
.social-media-div{
    margin: 30px 0;
}
footer{
    padding: 50px 40px;
    background: #262121;
    display: flex;
    gap: 4em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer h1{
    color: #eba232;
  width: 240px;
}
.last-div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.white-input{
  border-radius: 6px;
  background: #eba232;
  border: none;
  padding: 10px;
  border-top: none !important;
  border: #000 solid 3px;
  height: 30px;
}

form{
  gap: 10px;
  width: 90%;
}

@media (max-width: 800px) {
  .checkbox:checked + .mother-div .white-line {
    transform: rotate(135deg);
  }
  .checkbox:checked + .mother-div .white-line::before,
  .checkbox:checked + .mother-div .white-line::after {
    top: 0;
    transform: rotate(90deg);
  }
  .checkbox:checked:hover + .mother-div .white-line {
    transform: rotate(225deg);
  }
  .checkbox {
    transition: all ease-in-out 0.5s;
    display: block;
    position: absolute;
    right: 0%;
    margin-right: 2%;
    z-index: 6;
    opacity: 0;
    margin-top: 2%;
  }
  .mother-div {
    display: flex;

    right: 0%;
    margin-top: 2%;
    margin-right: 2%;
    background-color: transparent;
    position: absolute;
    z-index: 2;
  }
  .list-div,
  .login-div {
    display: none;
  }
  .checkbox:checked ~ .list-div {
    transition: all ease 0.5s;
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    height: 400px;
    position: absolute;
    overflow: visible;
    background: #262121;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-direction: column;
  }
  .passionate {
    width: 90%;
  }
  .work-div {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .frontend {
    font-size: 30px;
  }
  header h1 {
    width: 150px;
    font-size: 20px;
  }
  footer h1{
    width: 150px;
    font-size: 20px;
  }
  .download-div {
    display: flex;
    flex-direction: column;
  }
  .description {
    width: 90%;
  }
  .front-end-div {
    width: 90%;
    height: 200px;
  }
  .front-end-div h1 {
    font-size: 17px;
  }
  .fa-code {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
    .fourth-section form{
        width: 90%;
    }
}